.App {
  text-align: center;
  /* text-align: right; */
  justify-content: center;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  font-size: 20px;
  /* flex-wrap: wrap; */
  /* background-color:gray; */
  /* display: flex; */
  /* flex-direction: row; */
  /* color: white; */
  /* background-color: tomato; */
  /* padding: 10xp; */
}

.nav-bar {
  display: flex;
  margin-left: 1%;
  margin-top: 5px;
  height: 5vh;
  width: 98%;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: white;
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-between;
  /* text-align: center; */
  padding-top: 9px;
}


select{
  color: black !important;
}

body {
  /* background-color: #272c33 !important; */
  background-image: url('./../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif !important;
  /* opacity: 9; */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(8px); */
}

.react-autosuggest__suggestions-list {
  color: black;
  /* text-decoration: underline; */
  user-select: none;
  
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  width: 50vw;
  margin-top: 5px;
  margin-left: -3%;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center ; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: flex-start;
  list-style-type: none !important;
  border-radius: 30px;
  font-size: 30px;
  /* padding: 10px; */
}
/* document.querySelector("#react-autowhatever-1--item-0 > div") */
.react-autosuggest__suggestion > div {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  background-color: white !important;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 15px white;
  margin-top: 4px;
  width: 100%;
  height: 40%;
  border-radius: 5px;

}
.react-autosuggest__suggestion > div:hover {
  background-color: rgba(226, 230, 234, 0.945) !important;
  /* user-select: none; */
}
.react-autosuggest__container {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
  "Arial", sans-serif !important;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.react-autosuggest__input {
  margin-top: 10px;
  width: 50vw;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 40px;
  background-image: url("https://icon-library.net/images/white-search-icon-png/white-search-icon-png-15.jpg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px;
  box-shadow: 0px 0px 10px lightgray;
  /* margin-bottom: -10px; */
}
.login__input {
  /* color:'red' !important; */
  /* background-color: 'green' !important; */
  margin-top: 2vh;
  margin-bottom: 5px;
  width: 40vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 40px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/casual-events-and-opinions/256/User-512.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px;
  box-shadow: 0px 0px 15px lightgray;
}
.button-format {
  /* position: relative; */
  /* padding: 10xp; */
  margin-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  background-color: white;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  width: 130px;
  height: 30px;
  box-shadow: 0px 0px 8px lightgray;
}
/* .button-format:hover {
  background-color: rgb(226, 230, 234);
  border: 2px solid lightgrey;
  font-weight: 500;
} */

.button-nav {
  position: relative;
  /* padding: 10xp; */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  font-size: large;
  text-decoration: none;
  color: black;
  margin-top: 0.5vh;
  /* margin-left: 20px; */
  margin-right: 2.5px;
  /* height: 100%; */
  /* background-color: white; */
  font-size: 18px;
  /* padding-bottom: 10px; */
  align-items: center;
  justify-content: space-between;
  /* border-radius: 10px; */
  width: 130px;
  height: 30px;
  border: none;

  /* box-shadow: 0px 0px 8px lightgray; */
}

/* .button-nav:hover { */
  /* background-color: rgb(226, 230, 234); */
  /* color: orangered; */
  /* border: 1px solid lightgrey; */
  /* font-weight: 550; */
/* } */

.logo {

  /* margin-top: 5%; */
  /* width: 7vh; */
}
table,
th,
td {
  border: 1px solid black;
}
.label {
  margin-left: -5%;
  font-size: 20px;
}
.qr {
  margin-top: 10px;
  width: 80% !important; 
  height: 80% !important;
}
.react-datepicker-input {
  border-radius: 5px !important;
  width: 75% !important;
  margin-left: 13% !important;
  height: 50px !important;
  box-shadow: 0px 0px 15px lightgray;
}
.react-datepicker-input > input {
  font-size: 15px !important;
}

.icon-rc-datepicker_calendar {
  color:  rgb(255, 51, 0) !important;
  width: 37vw !important;
  background-color: transparent;
  /* height: 50px; */
  

  justify-items: start;
  display: flex;
  flex-direction: row-reverse;
}

.react-datepicker-container {
  /* width: 100% !important; */
  /* height: 1000px !important; */
}
.flex-column {
  /* height: 200px !important; */
}
.not-found {
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  /* .logo {
    margin-top: 9%;
    width: 15%;
    margin-left: 0%;
  } */
  .react-autosuggest__input {
    width: 100%;
  }
  .react-autosuggest__suggestion > div {
    /* width: 100%; */
    /* display: none; */
    /* background-color: inherit !important; */
    background-color: unset !important;
    width: 100%;
    color: white;
    font-size: 20px !important;
    box-shadow: none;
  }
  .react-autosuggest__suggestions-list {
    margin-left: 20%;
    text-align: center;
    color: aliceblue;
    list-style-type: disc !important;
  }
  .list-att {
    font-size: 12px;
  }
  .list-att {
    /* display: none; */
    max-width: 100%;
  }
  .seg {
    display: none;
  }
  .label {
    /* margin-left: -5%; */
    font-size: 12px;
  }
  .login__input {
    width: 85%;
  }
  .react-datepicker-input {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .icon-rc-datepicker_calendar {
    width: 100% !important;
    /* background-color: blue !important */
  }
  .not-found {
    font-size: 15px;
  }
}
