.homeContainer{
    margin-top: -1.5vh;
    display: flex !important;
    flex-direction: row !important;
  }
  .homeContainerTwo{
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 20vh;
  }
  
@media only screen and (max-width: 600px) {
    .homeContainer{
        display: flex !important;
        flex-direction: column !important;
      }
      .homeContainerTwo{
        display: flex !important;
        flex-direction: column !important;
        margin-bottom: 70vh;
      }
  }
  