.sidenav {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
  width: 16vw;
  /* position: fixed; */
  /* position:absolute; */
  /* display: inline-block; */
  /* flex-direction: row; */
  height: 95vh;

  z-index: 1;
  top: 0;
  left: 0;
/* background-color: #111; */
background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  /* display: */
  position: relative;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
  /* flex-direction: column; */

}
.sidenav-two {
  width: 16vw;
  /* position: fixed; */
  /* position:absolute; */
  /* display: inline-block; */
  /* flex-direction: row; */
  height: 95vh;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background-color: black;

  overflow-x: hidden;
  padding-top: 20px;
  /* display: */
  position: fixed;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
  /* flex-direction: column; */

}

.menu-link{
  margin-left: 10px;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
}
.hide-button{
  z-index: 7;
  /* left: 18vw; */
  position: fixed;
  margin-top: 1vh;
  /* width: 3vw; */
  height: 5vh;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
}

.sidenav a {
  
  padding: 6px 6px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;


}
.sidenav a:hover {
  color: white;




/* background-color: red; */
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: wh;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
}
.logo {
  width: 6vw;
}


.thumbnail{
    width: 30px;
    /* margin: 10px, 10px , 10px , 10px; */
    /* margin: -5px; */
    margin-bottom: -10px;
    
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
    width: 16vw;
  }
  .sidenav a span{
      display: none;
  }
}
