.footerUl {
    list-style-type: none;
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    align-items: center;
    margin: auto;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
  }
  
  @media (min-width: 500px) {
    .footerUl {
      grid-auto-flow: column;
    }
  }
  
  .footerA {
    color: rgb(160, 160, 160);
    text-decoration: none !important;
  }
  
  .footerA:hover {
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    color: white;
    box-shadow: inset 0 -1px 0 hsl(0, 0%, 100%);

  }
  
  .footerLi:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footerLi:hover ~ .footerLi .footerP {
    
    animation: wave-animation 0.3s infinite;
  }
  
  .footerContainer {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif !important;
    font-size: large;
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: black;
    z-index: 1;
    position:fixed;
    bottom:0;
    left:0;
    text-decoration: none !important;
    line-height: 1.3;
    -webkit-transition-duration: 0.9s; /* Safari */
    transition-duration: 0.9s;
  }
  @media only screen and (max-width: 600px) {
    .footerContainer{
        position:fixed;
        height: 15vh;
         bottom:0;
         left:0;
    }
    .footerUl {
      list-style-type: none;
      display: flex;
      font-size: small;
      flex-direction: column-reverse;
      justify-items: center;
      align-items: center;
      margin: auto;
      -webkit-transition-duration: 0.9s; /* Safari */
      transition-duration: 0.9s;
    }
  }
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(30deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  
  