table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   margin-bottom: 20vh;
    cursor:default;
  }
  
  td, th  {
    border: 1px solid #ddddddb4;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.247);

  }
  
  tr:nth-child(even) {
    background-color: rgba(63, 63, 63, 0.404);


  }
  tr:hover {background-color:#f5f5f533;}

.link{
  color: white;
  text-decoration: none;
  border: none;
  /* cursor:default; */
  box-shadow: none;
  display: grid;

  /* flex-direction: row; */

}


@media only screen and (max-width: 600px) {
 .daily-table{
  width:10vw;
  display: flex;
  flex-direction: column;
 }
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75vw;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
 margin-bottom: 55vh;
  cursor:default;
}
}